<!DOCTYPE html>

<!--
-->

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}AWS Download check{% endblock title %}</title>

        {% block stylesheet %}
            {% stylesheets
                '%kernel.root_dir%/../web/vendor/bootstrap/dist/css/bootstrap.min.css'
                '%kernel.root_dir%/../web/vendor/flat-ui/dist/css/flat-ui.css'
                '%kernel.root_dir%/../web/vendor/parsleyjs/src/parsley.css'
                '../app/Resources/public/css/style.css' filter='cssrewrite'
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock stylesheet %}

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block style %}
        {% endblock style %}

    </head>

    <body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="{{ path("remiii_corporate_home") }}">AWS Download check</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path("remiii_corporate_home", {"_locale": "en"}) }}">EN</a></li>
                        <li><a href="{{ path("remiii_corporate_home", {"_locale": "fr"}) }}">FR</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="body">
            <div class="container">
                {% block body %}
                    <p>Block Body</p>
                {% endblock body %}
            </div>
        </div>


        <footer>
            <div class="container">
                <p>AWS Download check - 2014 - <a href="http://madewithloveinparis.org" target="_blank">Made with &hearts; in Paris</a> - Fork me on <a href="https://github.com/Remiii/remiii-aws-download-check" target="_blank">GitHub&nbsp;<span class="fui-github"></span></a></p>
            </div>
        </footer>

        {% block javascript %}
            {% javascripts
                '%kernel.root_dir%/../web/vendor/jquery/dist/jquery.min.js'
                '%kernel.root_dir%/../web/vendor/bootstrap/dist/js/bootstrap.min.js'
                '%kernel.root_dir%/../web/vendor/flat-ui/dist/js/flat-ui.min.js'
                '%kernel.root_dir%/../web/vendor/parsleyjs/dist/parsley.min.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascript %}

    </body>

</html>

