{% extends '::layout.html.twig' %}

{% block title %}{{ parent() }} - Admin{% endblock title %}

{% block body %}

    <h1>Admin</h1>

    {% for result in results %}
        <h2 id="test{{ result['main'].id }}">Test {{ result['main'].id }}</h2>
        <table class="table table-striped">
            <tr>
                <td>{{ result['main'].id }}</td>
                <td>{{ result['main'].created|date('Y-m-d H:i:s') }}</td>
                <td>{{ result['main'].firstname|default('-') }}</td>
                <td>{{ result['main'].lastname|default('-') }}</td>
                <td>{{ result['main'].email|default('-') }}</td>
                <td>{{ result['main'].isp|default('-') }}</td>
                <td>{{ result['main'].connexionType|default('-') }}</td>
                <td>{{ result['main'].routerLink|default('-') }}</td>
                <td>{{ result['main'].ipAddress|default('-') }}</td>
            </tr>
        </table>
        <table class="table table-striped">
            <tr>
                <td>{{ result['main'].userAgent|default('-' )}}</td>
            </tr>
        </table>
        <table class="table table-striped">
            {% for video in result['videos'] %}
            <tr>
                <td>{{ video.titleVideo }}</td>
                <td>{{ video.downloadTime }}</td>
                <td>{{ video.readingQuality }}</td>
                <td>{{ video.urlVideo }}</td>
            </tr>
            {% endfor %}
        </table>
        <table class="table table-striped">
            {% if result['main'].speedtestScreenshotPath is not empty %}
                <tr>
                    <td><a href="/uploads/documents/{{ result['main'].speedtestScreenshotPath }}" target="_blank">Speedtest screenshot</a></td>
                </tr>
            {% endif %}
            {% if result['main'].cloudfrontScreenshotPath is not empty %}
                <tr>
                    <td><a href="/uploads/documents/{{ result['main'].cloudfrontScreenshotPath }}" target="_blank">CloudFront test screenshot</a></td>
                </tr>
            {% endif %}
            {% if result['main'].expertPartOneScreenshotPath is not empty %}
                <tr>
                    <td><a href="/uploads/documents/{{ result['main'].expertPartOneScreenshotPath }}" target="_blank">Expert part 1 screenshot</a></td>
                </tr>
            {% endif %}
            {% if result['main'].expertPartTwoScreenshotPath is not empty %}
                <tr>
                    <td><a href="/uploads/documents/{{ result['main'].expertPartTwoScreenshotPath }}" target="_blank">Expert part 2 screenshot</a></td>
                </tr>
            {% endif %}
        </table>
    {% endfor %}

{% endblock body %}
