{% extends '::layout.html.twig' %}

{% block title %}{{ parent() }} - Admin{% endblock title %}

{% set downloadTime = [ 'Slow (<5sec)', 'Normal', 'Fast (<5sec)' ] %}
{% set readingQuality = [ 'Broken', 'Realy bad', 'Bad', 'Good', 'Very good' ] %}

{% block body %}

    <h1>Admin</h1>

    {% for result in results %}
        {% if result['main'].ipAddress is not empty %}
            <h2 id="test{{ result['main'].id }}">$_ Test {{ result['main'].id }}</h2>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Id</th>
                    <th>Date (Paris TZ)</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>ISP</th>
                    <th>Connexion type</th>
                    <th>Router link</th>
                    <th>IP Address</th>
                </tr>
                <tr>
                    <td>{{ result['main'].id }}</td>
                    <td>{{ result['main'].created|date('Y-m-d H:i:s') }}</td>
                    <td>{{ result['main'].firstname|default('-') }}</td>
                    <td>{{ result['main'].lastname|default('-') }}</td>
                    <td>{{ result['main'].email|default('-') }}</td>
                    <td>{{ result['main'].isp|default('-') }}</td>
                    <td>{{ result['main'].connexionType|default('-') }}</td>
                    <td>{{ result['main'].routerLink|default('-') }}</td>
                    <td>{{ result['main'].ipAddress|default('-') }}</td>
                </tr>
            </table>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>UserAgent</th>
                </tr>
                <tr>
                    <td>{{ result['main'].userAgent|default('-' )}}</td>
                </tr>
            </table>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Video title</th>
                    <th>Predownload time</th>
                    <th>Reading quality</th>
                    <th>Video URL</th>
                </tr>
                {% for video in result['videos'] %}
                <tr>
                    <td>{{ video.titleVideo }}</td>
                    <td>{{ video.downloadTime }}/3 - {{ downloadTime[video.downloadTime-1] }}</td>
                    <td>{{ video.readingQuality }}/5 - {{ readingQuality[video.readingQuality-1] }}</td>
                    <td style="font-size:8px;font-style:italic;">{{ video.urlVideo }}</td>
                </tr>
                {% endfor %}
            </table>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Screenshot link</th>
                </tr>
                {% if result['main'].speedtestScreenshotPath is not empty %}
                    <tr>
                        <td><a href="/uploads/documents/{{ result['main'].speedtestScreenshotPath }}" target="_blank">Speedtest screenshot</a></td>
                    </tr>
                {% endif %}
                {% if result['main'].cloudfrontScreenshotPath is not empty %}
                    <tr>
                        <td><a href="/uploads/documents/{{ result['main'].cloudfrontScreenshotPath }}" target="_blank">CloudFront test screenshot</a></td>
                    </tr>
                {% endif %}
                {% if result['main'].expertPartOneScreenshotPath is not empty %}
                    <tr>
                        <td><a href="/uploads/documents/{{ result['main'].expertPartOneScreenshotPath }}" target="_blank">Expert part 1 screenshot 1</a></td>
                    </tr>
                {% endif %}
                {% if result['main'].expertPartOneNextScreenshotPath is not empty %}
                    <tr>
                        <td><a href="/uploads/documents/{{ result['main'].expertPartOneNextScreenshotPath }}" target="_blank">Expert part 1 screenshot 2</a></td>
                    </tr>
                {% endif %}
                {% if result['main'].expertPartTwoScreenshotPath is not empty %}
                    <tr>
                        <td><a href="/uploads/documents/{{ result['main'].expertPartTwoScreenshotPath }}" target="_blank">Expert part 2 screenshot 1</a></td>
                    </tr>
                {% endif %}
                {% if result['main'].expertPartTwoNextScreenshotPath is not empty %}
                    <tr>
                        <td><a href="/uploads/documents/{{ result['main'].expertPartTwoNextScreenshotPath }}" target="_blank">Expert part 2 screenshot 2</a></td>
                    </tr>
                {% endif %}
            </table>
        {% endif %}
    {% endfor %}

{% endblock body %}
