{% extends '::layout.html.twig' %}

{% block body %}

    <h2>Test video {{ videoNumber }} - {{ videoTitle }}</h2>

    <div id="video-player" class="video-player"></div>

    {{ form(form) }}

{% endblock body %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="http://jwpsrv.com/library/TQ5uttalEeOsKiIACrqE1A.js"></script>
    <script type="text/javascript">
        jwplayer.key = "rbfdTQPgQ12F4CKwMQl0jRGoIC1facbntn2IAQ==";
        jwplayer("video-player").setup({
            file: "{{ videoUrl }}",
            width: "60%",
            autoplay: true,
            autostart: true, // Not working on Chrome for Ubuntu without this option
            aspectratio: '16:9'
        });
    </script>
{% endblock %}
